@import '../../../styles/breakpoints';

.main__menu {
  background-color: var(--nav-background-c);
  color: var(--nav-text-c);
  width: var(--width-nav);
  height: 100vh;

  grid-column: 1/2;
  grid-row: 1/2;

  position: fixed;
  // flex-direction: column;
  // justify-content: space-between;

  display: grid;
  grid-template-columns: minmax(var(--width-nav), max-content);
  grid-template-rows: repeat(3, 1fr);

  align-content: space-between;
}

//////////////////////////
//Menu animations
@keyframes upDown {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
  }
  30% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -350%);
  }
}

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    background: var(--white-c);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-150%, -50%) scale(0);
  }
}

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0);
  }
  25% {
    background: var(--white-c);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%);
  }
  30% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 250%);
  }
}
