@import '../../../styles/mixins';

.text__area {
  padding-left: 5rem;
  width: 40%;

  @include respond(w-1000) {
    padding-left: 2rem;
  }

  @include respond(w-800) {
    width: 100%;
  }

  @include respond(w-600) {
    padding-left: 0;
  }
}
