@import '../../styles/mixins';

.title {
  &--primary {
    position: relative;
    font-size: 8.5rem;
    line-height: 0.9;
    margin-bottom: 3.5rem;
    white-space: nowrap;

    @include respond(w-800) {
      font-size: 8rem;
    }

    @include respond(w-600) {
      font-size: 5.7rem;
    }

    @include respond(w-400) {
      font-size: 4.7rem;
    }
  }

  &-j {
    display: inline-block;
    opacity: 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    transform: translateX(3px);
    transition: opacity 0.3s linear;

    @include respond(w-800) {
      font-size: 9.8rem;
      transform: translateX(3px);
    }

    @include respond(w-600) {
      font-size: 8rem;
    }

    @include respond(w-400) {
      font-size: 6rem;
      transform: translateX(1px);
    }
  }
}
