@import '../../styles/mixins';

.second__title {
  position: relative;
  font-size: 5.8rem;
  margin-bottom: 3.5rem;
  color: var(--secondary-c);
  hyphens: none;

  @include respond(w-600) {
    font-size: 4rem;
  }

  @include respond(w-400) {
    font-size: 3rem;
  }
}
