@import '../../styles/mixins';

.area {
  &--contact {
    width: 50%;
    padding: 0 5rem 0 5rem;

    @include respond(w-1000) {
      padding: 0 2rem 0 2rem;
    }

    @include respond(w-800) {
      width: 100%;
    }
  }
}
