@import '../../styles/mixins';

.modal {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 3px;
  width: 70%;
  background-color: var(--white-c);
  position: relative;

  p::after,
  h2::after,
  p::before,
  h2::before {
    content: unset;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__background {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.267);
    z-index: 333;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img__area {
    position: relative;
    display: block;
    width: auto;
    // height: 10rem;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__buttons {
    align-self: flex-end;
    margin-top: 1.5rem;

    @include respond(w-600) {
      width: 100%;
    }

    a {
      margin-left: 2.5rem;
      text-align: center;

      @include respond(w-600) {
        margin: 0 0 2.5rem 0;
        width: 100%;
      }
    }
  }
}
