@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$font-encode: 'Encode Sans SC', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$primary-c: #ed3b3b;
$secondary-c: #7af967;

$blue-light-c: #31ceed;
$green-c: #16a700;
$yellow-c: #ffec05;
$red-c: #f9000f;

$black-c: hsl(0, 0%, 0%);
$grey-52-c: hsl(0, 0%, 56%);
$grey-34-c: hsl(0, 0%, 34%);
$grey-24-c: hsl(0, 0%, 24%);
$grey-19-c: hsl(0, 0%, 19%);
$grey-15-c: hsl(0, 0%, 15%);
$grey-12-c: hsl(0, 0%, 12%);
$grey-9-c: hsl(0, 0%, 9%);
$grey-light-transparent-c: hsla(0, 0%, 29%, 0.722);
$grey-light-transparent-more-c: hsla(0, 0%, 29%, 0.322);
$grey-light-transparent-hover-c: hsla(0, 0%, 50%, 0.322);
$white-c: hsl(0, 0%, 100%);
$white-80-c: hsl(0, 0%, 80%);
$white-transparent-c: hsla(0, 0%, 100%, 0.267);

$transition-duration: 0.5s;
$transition-delay: 0.05s;
$items: 3;

:root {
  //colors
  --primary-c: #{$primary-c};
  --secondary-c: #{$secondary-c};
  --select-c: #{$primary-c};
  --white-c: #{$white-c};
  --black-c: #{$black-c};
  --red-c: #{$red-c};

  --tags-c: #{$grey-34-c};

  --sub-title-text-c: #{$grey-52-c};

  --nav-background-c: #{$grey-9-c};
  --nav-background-transparent-c: #{$grey-light-transparent-c};
  --nav-text-c: #{$grey-52-c};
  --nav-border-c: #{$grey-light-transparent-more-c};
  --nav-mobile-menu-c: #{$white-c};
  --nav-mobile-menu-bg: #{$grey-light-transparent-more-c};
  --nav-mobile-menu-bg-hover: #{$grey-light-transparent-hover-c};
  --nav-mobile-menu-btn-hover: #{$grey-34-c};

  --logo-text-c: #{$white-c};
  --logo-front-c: #{$primary-c};
  --logo-back-c: #{$secondary-c};

  --home-background-c: #{$grey-12-c};
  --home-text-c: #{$white-c};

  --form-background-c: #{$grey-15-c};
  --form-text-c: #{$white-80-c};

  --label-background-c: #{$secondary-c};
  --label-background-warning-c: #{$primary-c};

  --base-line-c: #{$grey-34-c};
  --front-end-line-c: #{$blue-light-c};
  --back-end-line-c: #{$yellow-c};
  --react-line-c: #{$red-c};
  --next-line-c: #{$green-c};

  --progress-bar-base-c: #{$grey-9-c};

  --skill-desc-background-c: #{$grey-19-c};

  --text-background-c: #{$grey-24-c}; //neviem kde

  --box-shadow-img: #{$white-transparent-c};

  //grid
  --width-nav: 13rem;
}
