@import './variables';
@import './mixins';
// Resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--secondary-c);
  background-color: var(--primary-c);
}

////////////////////////////////
// Global sett
html {
  //font size 100% = 16px
  // 1rem = 10px
  font-size: 62.5%;

  @include respond(w-1200) {
    font-size: 56%;
  }
  @include respond(w-1000) {
    font-size: 53%;
  }
  @include respond(w-800) {
    font-size: 50%;
  }
  @include respond(w-600) {
    font-size: 45%;
  }
  @include respond(w-400) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  font-family: $font-encode;
  font-size: 1.6rem;
  background-color: var(--home-background-c);
}

.main {
  background-color: var(--home-background-c);
}

.title {
  transition: font-size 0.2s;
}

.full-screen {
  height: 100vh !important;
}

.small-width {
  width: 40%;
}

strong {
  color: var(--secondary-c);
}

#modal-window {
  position: relative;
  width: 100%;
}

////////////////////////////////
// Tags
p,
h1,
h2,
form {
  position: relative;
}

// ::before, ::after
*::before,
*::after {
  position: absolute;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.14rem;
  font-family: var(--tags-font);
  font-style: italic;
  color: var(--tags-c);
}

h1:first-of-type::before,
h2:first-of-type::before {
  top: -0.5rem;
  left: -2rem;
}

h1:last-of-type::after,
h2:last-of-type::after {
  bottom: -1.5rem;
  left: -2rem;
}

p:first-of-type::before,
form:first-of-type::before {
  top: -1.6rem;
  left: -2rem;
}
form:first-of-type::before {
  top: -1.8rem;
}

p:last-of-type::after,
form:last-of-type::after {
  bottom: -2rem;
  left: -2rem;
}

h1:first-of-type::before {
  content: '<h1>';
}
h1:last-of-type::after {
  content: '</h1>';
}
h2:first-of-type::before {
  content: '<h2>';
}
h2:last-of-type::after {
  content: '</h2>';
}
p:first-of-type::before {
  content: '<p>';
}
p:last-of-type::after {
  content: '</p>';
}
form:first-of-type::before {
  content: '<form>';
}
form:last-of-type::after {
  content: '</form>';
}

///////////////////////////
// Alert
#alerts {
  position: fixed;
  width: 20%;
  bottom: 1%;
  right: 1%;
  z-index: 9999;
}

.alert {
  color: var(--white-c);
  text-align: center;
  padding: 1.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  box-shadow: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
  // transform: translateX(20%);
  // opacity: 0;
  transition: transform 0.3s, opacity 0.3s;

  p::before,
  p::after {
    content: unset;
  }

  &--error {
    background-color: var(--primary-c);
  }

  &--success {
    background-color: var(--secondary-c);
    color: var(--black-c);
  }

  &-enter {
    transform: translateX(0);
    opacity: 1;
  }
}
