.section {
  position: relative;

  padding: 9rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;

  &:first-of-type {
    height: 100vh;
  }

  &--flex__row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
  }
}
